In [5]:
# Top level run file
# Run the code from here

# Import the user defined functions
from functools import partial

from func_mors_dfs import create_mors_df_dict, filter_bab
from func_read_data import read_data
from func_score_agg import score_agg
from helper_functions import parse_mors_datestring, reduce_df_dict, parse_binary_to_boolean
from subfunctions.sub_func_remove_cols_by_pattern import remove_cols_by_pattern
from subfunctions.sub_func_transform_column_values import transform_column_values

# File path and names. Names are used as keys in the data_dict
path = '/Users/ellengoddard/Desktop/working_data/'
f_names = ['core_10_table', 'mors_table', 'pai_table_v2',
           'swemwebs_table', 'whooley_table']
ext = '.csv'
# List of NaN indicators used on read in of data
na_list = [999, '', 'Not applicable', 'NULL', 'Undefined', 'Unknown']

# Read in all datasets
data_dict = read_data(path, f_names, ext, na_list)

# Run the sub functions to aggregate the scores for each measure
# and invert where necessary so a higher score is always better
data_dict = score_agg(data_dict, f_names)

# Define MORS dataset 
mors_df = data_dict['mors_table']

# Remove Baby Steps data from MORS 
mors_df_filtered = filter_bab(mors_df)

# Separate MORS into dataframes based on assessment tool 
mors_df_dict = create_mors_df_dict(mors_df_filtered)

# Combine the original data_dict with the mors_df_dict
combined_data_dict = {**data_dict, **mors_df_dict}

# Remove columns with column names of pattern "question_"
combined_dict_no_questions = reduce_df_dict(combined_data_dict, partial(remove_cols_by_pattern, pattern="question_"))

# Parse all datestrings into datetime64
column_names = ["assessment_date", "ptt_date_reached_dosage", "cos_date_reached_dosage", "bab_date_reached_dosage"]
partial_transform_column_vals = partial(transform_column_values, column_names=column_names, function=parse_mors_datestring)
combined_dict_parsed_dates = reduce_df_dict(combined_dict_no_questions, partial_transform_column_vals)

# Parse 0 and 1s into booleans
column_names = ["bab_reached_dosage_yn", "ptt_reached_dosage_yn", "cos_reached_dosage_yn", "bab_reached_dosage_yn"]
partial_transform_column_vals_bool_parse = partial(transform_column_values, column_names=column_names, function=parse_binary_to_boolean)
combined_dict_parsed_bools = reduce_df_dict(combined_dict_parsed_dates, partial_transform_column_vals_bool_parse)

# combined_dict_parsed_bools["COS - MORSC"]
combined_dict_parsed_bools["pai_table_v2"]

Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame core_10_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame core_10_table. Error: 'ptt_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame core_10_table. Error: 'cos_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame core_10_table. Error: 'bab_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame pai_table_v2 - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame pai_table_v2. Error: 'ptt_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame pai_table_v2. Error: 'cos_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame pai_table_v2 - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame swemwebs_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame swemwebs_table. Error: 'ptt_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame swemwebs_table. Error: 'cos_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame swemwebs_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame whooley_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame whooley_table. Error: 'ptt_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame whooley_table. Error: 'cos_date_reached_dosage' - is the column missing?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame whooley_table - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column assessment_date in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column ptt_date_reached_dosage in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column cos_date_reached_dosage in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_mors_datestring to a value in column bab_date_reached_dosage in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame core_10_table. Error: 'bab_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame core_10_table. Error: 'ptt_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame core_10_table. Error: 'cos_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame core_10_table. Error: 'bab_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame mors_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame pai_table_v2 - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame pai_table_v2. Error: 'ptt_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame pai_table_v2. Error: 'cos_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame pai_table_v2 - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame swemwebs_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame swemwebs_table. Error: 'ptt_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame swemwebs_table. Error: 'cos_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame swemwebs_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame whooley_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame whooley_table. Error: 'ptt_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame whooley_table. Error: 'cos_reached_dosage_yn' - is the column missing?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame whooley_table - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame PRS - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame PTT - MORS - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame COS - MORSC - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column ptt_reached_dosage_yn in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column cos_reached_dosage_yn in DataFrame COS - MORSB - does a row have a blank cell?
Failed to apply function parse_binary_to_boolean to a value in column bab_reached_dosage_yn in DataFrame COS - MORSB - does a row have a blank cell?

---

Applying remove_cols_by_pattern to DataFrame 'core_10_table':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   leap_user_key        320 non-null    int64
 1   assessment_date      320 non-null    object
 2   assessment_tool      320 non-null    object
 3   event                320 non-null    object
 4   question_1           315 non-null    float64
 5   age_at_registration  316 non-null    float64
 6   ethnicity_b          237 non-null    object
 7   home_language        283 non-null    object
 8   lone_parent          12 non-null     object
 9   lsoacode             312 non-null    object
 10  ward_name            312 non-null    object
 11  ward_code            312 non-null    object
 12  borough              312 non-null    object
 13  lsoaname             312 non-null    object
 14  imdscore             312 non-null    float64
 15  imddecile            312 non-null    float64
 16  f1                   312 non-null    float64
 17  decile_1             292 non-null    float64
 18  imd_local_dec        292 non-null    float64
 19  imd_local_quint      292 non-null    float64
 20  mergestatus          320 non-null    object
 21  total                315 non-null    float64
 22  total_final          315 non-null    float64
dtypes: float64(10), int64(1), object(12)
memory usage: 57.6+ KB
---

Applying remove_cols_by_pattern to DataFrame 'mors_table':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            598 non-null    int64
 1   assessment_date          598 non-null    object
 2   assessment_tool          598 non-null    object
 3   event                    597 non-null    object
 4   question_1               292 non-null    float64
 5   question_2               290 non-null    float64
 6   question_3               291 non-null    float64
 7   question_4               291 non-null    float64
 8   question_5               290 non-null    float64
 9   question_6               289 non-null    float64
 10  question_7               289 non-null    float64
 11  question_8               291 non-null    float64
 12  question_9               292 non-null    float64
 13  question_10              291 non-null    float64
 14  question_11              289 non-null    float64
 15  question_12              292 non-null    float64
 16  question_13              291 non-null    float64
 17  question_14              290 non-null    float64
 18  question_15              306 non-null    float64
 19  question_16              306 non-null    float64
 20  age_at_registration      577 non-null    float64
 21  ethnicity_b              521 non-null    object
 22  home_language            567 non-null    object
 23  lone_parent              105 non-null    object
 24  lsoacode                 526 non-null    object
 25  ward_name                526 non-null    object
 26  ward_code                526 non-null    object
 27  borough                  526 non-null    object
 28  lsoaname                 526 non-null    object
 29  imdscore                 526 non-null    float64
 30  imddecile                526 non-null    float64
 31  f1                       526 non-null    float64
 32  decile_1                 508 non-null    float64
 33  imd_local_dec            508 non-null    float64
 34  imd_local_quint          508 non-null    float64
 35  mergestatus              598 non-null    object
 36  bab_total_dosage         130 non-null    float64
 37  bab_reached_dosage_yn    130 non-null    float64
 38  bab_date_reached_dosage  116 non-null    object
 39  ptt_total_dosage         174 non-null    float64
 40  ptt_reached_dosage_yn    174 non-null    float64
 41  ptt_date_reached_dosage  126 non-null    object
 42  cos_total_dosage         247 non-null    float64
 43  cos_reached_dosage_yn    247 non-null    float64
 44  cos_date_reached_dosage  208 non-null    object
 45  warmth_total             598 non-null    float64
 46  invasion_total           598 non-null    float64
 47  invasion_final           598 non-null    float64
 48  warmth_final             598 non-null    float64
 49  total_final              598 non-null    float64
dtypes: float64(34), int64(1), object(15)
memory usage: 233.7+ KB
---

Applying remove_cols_by_pattern to DataFrame 'pai_table_v2':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            341 non-null    int64
 1   assessment_date          341 non-null    object
 2   assessment_tool          341 non-null    object
 3   event                    341 non-null    object
 4   question_1               341 non-null    int64
 5   question_2               338 non-null    float64
 6   question_3               339 non-null    float64
 7   question_4               339 non-null    float64
 8   question_5               338 non-null    float64
 9   question_6               335 non-null    float64
 10  question_7               338 non-null    float64
 11  question_8               338 non-null    float64
 12  question_9               337 non-null    float64
 13  question_10              336 non-null    float64
 14  question_11              337 non-null    float64
 15  question_12              338 non-null    float64
 16  question_13              334 non-null    float64
 17  question_14              337 non-null    float64
 18  question_15              336 non-null    float64
 19  question_16              338 non-null    float64
 20  question_17              336 non-null    float64
 21  question_18              337 non-null    float64
 22  question_19              336 non-null    float64
 23  question_20              333 non-null    float64
 24  question_21              314 non-null    float64
 25  age_at_registration      340 non-null    float64
 26  ethnicity_b              340 non-null    object
 27  home_language            341 non-null    object
 28  lone_parent              234 non-null    object
 29  lsoacode                 324 non-null    object
 30  ward_name                324 non-null    object
 31  ward_code                324 non-null    object
 32  borough                  324 non-null    object
 33  lsoaname                 324 non-null    object
 34  imdscore                 324 non-null    float64
 35  imddecile                324 non-null    float64
 36  f1                       324 non-null    float64
 37  decile_1                 324 non-null    float64
 38  imd_local_dec            324 non-null    float64
 39  imd_local_quint          324 non-null    float64
 40  mergestatus              341 non-null    object
 41  bab_total_dosage         336 non-null    float64
 42  bab_reached_dosage_yn    336 non-null    float64
 43  bab_date_reached_dosage  259 non-null    object
 44  user_has_pre_and_post    341 non-null    int64
 45  total                    341 non-null    float64
 46  total_final              341 non-null    float64
dtypes: float64(31), int64(3), object(13)
memory usage: 125.3+ KB
---

Applying remove_cols_by_pattern to DataFrame 'swemwebs_table':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            401 non-null    int64
 1   assessment_date          401 non-null    object
 2   assessment_tool          401 non-null    object
 3   event                    401 non-null    object
 4   question_1               401 non-null    int64
 5   question_2               401 non-null    int64
 6   question_3               401 non-null    int64
 7   question_4               401 non-null    int64
 8   question_5               401 non-null    int64
 9   question_6               401 non-null    int64
 10  question_7               401 non-null    int64
 11  age_at_registration      401 non-null    int64
 12  ethnicity_b              398 non-null    object
 13  home_language            401 non-null    object
 14  lone_parent              270 non-null    object
 15  lsoacode                 379 non-null    object
 16  ward_name                379 non-null    object
 17  ward_code                379 non-null    object
 18  borough                  379 non-null    object
 19  lsoaname                 379 non-null    object
 20  imdscore                 379 non-null    float64
 21  imddecile                379 non-null    float64
 22  f1                       379 non-null    float64
 23  decile_1                 379 non-null    float64
 24  imd_local_dec            379 non-null    float64
 25  imd_local_quint          379 non-null    float64
 26  mergestatus              401 non-null    object
 27  bab_total_dosage         382 non-null    float64
 28  bab_reached_dosage_yn    382 non-null    float64
 29  bab_date_reached_dosage  282 non-null    object
 30  total_raw                401 non-null    int64
 31  total                    401 non-null    float64
 32  total_final              401 non-null    float64
dtypes: float64(10), int64(10), object(13)
memory usage: 103.5+ KB
---

Applying remove_cols_by_pattern to DataFrame 'whooley_table':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            401 non-null    int64
 1   assessment_date          401 non-null    object
 2   assessment_tool          401 non-null    object
 3   event                    401 non-null    object
 4   question_1               401 non-null    int64
 5   question_2               401 non-null    int64
 6   age_at_registration      401 non-null    int64
 7   ethnicity_b              398 non-null    object
 8   home_language            401 non-null    object
 9   lone_parent              270 non-null    object
 10  lsoacode                 379 non-null    object
 11  ward_name                379 non-null    object
 12  ward_code                379 non-null    object
 13  borough                  379 non-null    object
 14  lsoaname                 379 non-null    object
 15  imdscore                 379 non-null    float64
 16  imddecile                379 non-null    float64
 17  f1                       379 non-null    float64
 18  decile_1                 379 non-null    float64
 19  imd_local_dec            379 non-null    float64
 20  imd_local_quint          379 non-null    float64
 21  mergestatus              401 non-null    object
 22  bab_total_dosage         382 non-null    float64
 23  bab_reached_dosage_yn    382 non-null    float64
 24  bab_date_reached_dosage  282 non-null    object
 25  total                    401 non-null    int64
 26  total_final              401 non-null    int64
dtypes: float64(8), int64(6), object(13)
memory usage: 84.7+ KB
---

Applying remove_cols_by_pattern to DataFrame 'PRS - MORS':
<class 'pandas.core.frame.DataFrame'>
Index: 166 entries, 0 to 596
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            166 non-null    int64
 1   assessment_date          166 non-null    object
 2   assessment_tool          166 non-null    object
 3   event                    166 non-null    object
 4   question_1               0 non-null      float64
 5   question_2               0 non-null      float64
 6   question_3               0 non-null      float64
 7   question_4               0 non-null      float64
 8   question_5               0 non-null      float64
 9   question_6               0 non-null      float64
 10  question_7               0 non-null      float64
 11  question_8               0 non-null      float64
 12  question_9               0 non-null      float64
 13  question_10              0 non-null      float64
 14  question_11              0 non-null      float64
 15  question_12              0 non-null      float64
 16  question_13              0 non-null      float64
 17  question_14              0 non-null      float64
 18  question_15              166 non-null    float64
 19  question_16              166 non-null    float64
 20  age_at_registration      156 non-null    float64
 21  ethnicity_b              148 non-null    object
 22  home_language            158 non-null    object
 23  lone_parent              47 non-null     object
 24  lsoacode                 111 non-null    object
 25  ward_name                111 non-null    object
 26  ward_code                111 non-null    object
 27  borough                  111 non-null    object
 28  lsoaname                 111 non-null    object
 29  imdscore                 111 non-null    float64
 30  imddecile                111 non-null    float64
 31  f1                       111 non-null    float64
 32  decile_1                 108 non-null    float64
 33  imd_local_dec            108 non-null    float64
 34  imd_local_quint          108 non-null    float64
 35  mergestatus              166 non-null    object
 36  bab_total_dosage         13 non-null     float64
 37  bab_reached_dosage_yn    13 non-null     float64
 38  bab_date_reached_dosage  13 non-null     object
 39  ptt_total_dosage         16 non-null     float64
 40  ptt_reached_dosage_yn    16 non-null     float64
 41  ptt_date_reached_dosage  15 non-null     object
 42  cos_total_dosage         4 non-null      float64
 43  cos_reached_dosage_yn    4 non-null      float64
 44  cos_date_reached_dosage  0 non-null      object
 45  warmth_total             166 non-null    float64
 46  invasion_total           166 non-null    float64
 47  invasion_final           166 non-null    float64
 48  warmth_final             166 non-null    float64
 49  total_final              166 non-null    float64
dtypes: float64(34), int64(1), object(15)
memory usage: 66.1+ KB
---

Applying remove_cols_by_pattern to DataFrame 'PTT - MORS':
<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 51 to 595
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            140 non-null    int64
 1   assessment_date          140 non-null    object
 2   assessment_tool          140 non-null    object
 3   event                    140 non-null    object
 4   question_1               0 non-null      float64
 5   question_2               0 non-null      float64
 6   question_3               0 non-null      float64
 7   question_4               0 non-null      float64
 8   question_5               0 non-null      float64
 9   question_6               0 non-null      float64
 10  question_7               0 non-null      float64
 11  question_8               0 non-null      float64
 12  question_9               0 non-null      float64
 13  question_10              0 non-null      float64
 14  question_11              0 non-null      float64
 15  question_12              0 non-null      float64
 16  question_13              0 non-null      float64
 17  question_14              0 non-null      float64
 18  question_15              140 non-null    float64
 19  question_16              140 non-null    float64
 20  age_at_registration      136 non-null    float64
 21  ethnicity_b              91 non-null     object
 22  home_language            138 non-null    object
 23  lone_parent              12 non-null     object
 24  lsoacode                 131 non-null    object
 25  ward_name                131 non-null    object
 26  ward_code                131 non-null    object
 27  borough                  131 non-null    object
 28  lsoaname                 131 non-null    object
 29  imdscore                 131 non-null    float64
 30  imddecile                131 non-null    float64
 31  f1                       131 non-null    float64
 32  decile_1                 126 non-null    float64
 33  imd_local_dec            126 non-null    float64
 34  imd_local_quint          126 non-null    float64
 35  mergestatus              140 non-null    object
 36  bab_total_dosage         28 non-null     float64
 37  bab_reached_dosage_yn    28 non-null     float64
 38  bab_date_reached_dosage  23 non-null     object
 39  ptt_total_dosage         139 non-null    float64
 40  ptt_reached_dosage_yn    139 non-null    float64
 41  ptt_date_reached_dosage  98 non-null     object
 42  cos_total_dosage         17 non-null     float64
 43  cos_reached_dosage_yn    17 non-null     float64
 44  cos_date_reached_dosage  12 non-null     object
 45  warmth_total             140 non-null    float64
 46  invasion_total           140 non-null    float64
 47  invasion_final           140 non-null    float64
 48  warmth_final             140 non-null    float64
 49  total_final              140 non-null    float64
dtypes: float64(34), int64(1), object(15)
memory usage: 55.8+ KB
---

Applying remove_cols_by_pattern to DataFrame 'COS - MORSC':
<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 52 to 581
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   leap_user_key            190 non-null    int64
 1   assessment_date          190 non-null    object
 2   assessment_tool          190 non-null    object
 3   event                    189 non-null    object
 4   question_1               190 non-null    float64
 5   question_2               190 non-null    float64
 6   question_3               190 non-null    float64
 7   question_4               189 non-null    float64
 8   question_5               189 non-null    float64
 9   question_6               189 non-null    float64
 10  question_7               188 non-null    float64
 11  question_8               190 non-null    float64
 12  question_9               190 non-null    float64
 13  question_10              190 non-null    float64
 14  question_11              190 non-null    float64
 15  question_12              190 non-null    float64
 16  question_13              189 non-null    float64
 17  question_14              189 non-null    float64
 18  question_15              0 non-null      float64
 19  question_16              0 non-null      float64
 20  age_at_registration      186 non-null    float64
 21  ethnicity_b              183 non-null    object
 22  home_language            175 non-null    object
 23  lone_parent              2 non-null      object
 24  lsoacode                 189 non-null    object
 25  ward_name                189 non-null    object
 26  ward_code                189 non-null    object
 27  borough                  189 non-null    object
 28  lsoaname                 189 non-null    object
 29  imdscore                 189 non-null    float64
 30  imddecile                189 non-null    float64
 31  f1                       189 non-null    float64
 32  decile_1                 179 non-null    float64
 33  imd_local_dec            179 non-null    float64
 34  imd_local_quint          179 non-null    float64
 35  mergestatus              190 non-null    object
 36  bab_total_dosage         14 non-null     float64
 37  bab_reached_dosage_yn    14 non-null     float64
 38  bab_date_reached_dosage  13 non-null     object
 39  ptt_total_dosage         11 non-null     float64
 40  ptt_reached_dosage_yn    11 non-null     float64
 41  ptt_date_reached_dosage  10 non-null     object
 42  cos_total_dosage         190 non-null    float64
 43  cos_reached_dosage_yn    190 non-null    float64
 44  cos_date_reached_dosage  167 non-null    object
 45  warmth_total             190 non-null    float64

,leap_user_key,assessment_date,assessment_tool,event,age_at_registration,ethnicity_b,home_language,lone_parent,lsoacode,ward_name,...,decile_1,imd_local_dec,imd_local_quint,mergestatus,bab_total_dosage,bab_reached_dosage_yn,bab_date_reached_dosage,user_has_pre_and_post,total,total_final
0,365389,2022-01-31,BAB - PAI,BAB - Home Visit 1,21.0,Black\r,English,Yes,E01003121,Stockwell,...,8.0,3.0,2.0,Matched (3),2.0,False,NaT,0,35.0,35.0
1,365623,2022-10-31,BAB - PAI,BAB - Antenatal Session 6,33.0,White\r,English,No,E01003186,Vassall,...,3.0,8.0,4.0,Matched (3),8.0,True,2022-10-26,1,52.0,52.0
2,365623,2022-08-24,BAB - PAI,BAB - Home Visit 1,33.0,White\r,English,No,E01003186,Vassall,...,3.0,8.0,4.0,Matched (3),8.0,True,2022-10-26,1,48.0,48.0
3,366132,2022-02-25,BAB - PAI,BAB - Antenatal Session 6,39.0,White\r,Other,NaN,E01003045,Coldharbour,...,10.0,1.0,1.0,Matched (3),7.0,True,2022-02-08,1,58.0,58.0
4,366132,2021-12-15,BAB - PAI,BAB - Home Visit 1,39.0,White\r,Other,NaN,E01003045,Coldharbour,...,10.0,1.0,1.0,Matched (3),7.0,True,2022-02-08,1,51.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,509466,2023-11-15,BAB - PAI,BAB - Antenatal Session 6,29.0,Black\r,English,No,E01003182,Vassall,...,6.0,5.0,3.0,Matched (3),6.0,True,2023-11-15,0,52.0,52.0
337,509479,2023-11-15,BAB - PAI,BAB - Antenatal Session 6,36.0,Asian\r,Chinese,No,E01003183,Vassall,...,7.0,4.0,2.0,Matched (3),6.0,True,2023-11-15,0,72.0,72.0
338,509481,2023-11-14,BAB - PAI,BAB - Antenatal Session 6,36.0,White\r,Portuguese,No,E01003126,Stockwell,...,7.0,4.0,2.0,Matched (3),6.0,True,2023-11-14,0,48.0,48.0
339,509485,2023-11-15,BAB - PAI,BAB - Antenatal Session 6,38.0,Black\r,English,No,E01003171,Tulse Hill,...,6.0,5.0,3.0,Matched (3),5.0,False,NaT,0,69.0,69.0
340,509488,2023-11-15,BAB - PAI,BAB - Antenatal Session 6,40.0,White\r,French,No,E01003171,Tulse Hill,...,6.0,5.0,3.0,Matched (3),6.0,True,2023-11-15,0,70.0,70.0